<div class="row mb-2">
  @for (item of Letras; track $index) {
  <div class="col-12">
    <div class="card mb-2">
      <div class="card-body pb-1" (dblclick)="carregaLetra()">
        <section class="d-flex justify-content-between align-items-center mb-1">
          <span class="no-select fw-bold text-primary p-0 m-0" style="font-size: 1.2rem" (click)="diminuirFonte()">{{ item.ordem }}</span>
          <span class="no-select fw-bold text-primary p-0 m-0" style="font-size: 1.2rem" (click)="aumentarFonte()">{{ item.is_intro | isIntro }}</span>
        </section>
        <div style="text-align: justify; font-size: 1.8rem; font-weight: 500; line-height: 2.6rem" class="no-select mb-1" [innerHTML]="item.letra | formataNotas" [style.font-size]="fontSize + 'em'"></div>
        @if(item.notas.length > 0) {
        <div class="d-flex justify-content-between align-items-center mb-1">
          <span class="no-select fw-bold text-primary p-0 m-0" [style.font-size]="fontSize + 'em'" [innerHTML]="item.notas | formataNotas2"></span>
        </div>
        }
      </div>
    </div>
  </div>
  }
</div>
