<div class="row mb-2">
  <div class="col-12 col-md-10 col-lg-8 col-xl-7 mx-auto">
    <div class="d-flex justify-content-between align-items-center">
      <section>
        <span class="fw-bold text-primary me-2" style="font-size: 1.5rem">{{ nomeDoLouvor }} - {{ transposicaoAtual }}</span>
        <section></section>
      </section>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-12 col-md-10 col-lg-8 col-xl-7 mx-auto">
    <div class="d-flex align-items-center">
      <label for="tomSelect" class="me-2 fw-bold">Tom:</label>
      <select id="tomSelect" class="form-select me-2" style="width: auto" [(ngModel)]="tomSelecionado" (change)="alterarTom()">
        <option *ngFor="let tom of tons" [value]="tom" [selected]="tom === tomOriginal">{{ tom }} {{ tom === tomOriginal ? "(Original)" : "" }}</option>
      </select>
      <button class="btn btn-outline-secondary" (click)="resetarTom()">Resetar</button>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-12 col-md-10 col-lg-8 col-xl-7 mx-auto">
    @for (item of Letras; track $index) {
    <div class="card mb-2" (click)="toggleScroll()">
      <div class="card-body p-3">
        <section class="d-flex justify-content-between align-items-center mb-3">
          <span class="no-select fw-bold text-black m-0 cursor" style="font-size: 1.2rem">
            {{ item.ordem }}
          </span>
          <section>
            <span class="btn btn-sm btn-outline-primary me-2" (click)="diminuirFonte()">
              <img src="./images/circle_minus.png" alt="+" class="img-fluid" style="width: 1.1rem; height: 1.1rem cursor" />
            </span>
            <span class="btn btn-sm btn-outline-primary" (click)="aumentarFonte()">
              <img src="./images/circle_plus.png" alt="+" class="img-fluid" style="width: 1.1rem; height: 1.1rem cursor" />
            </span>
          </section>
        </section>
        @if(mostrarNotas == true){
        <div style="text-align: justify; font-size: 1.9rem; font-weight: 500; line-height: 2.8rem" class="no-select mb-1" [innerHTML]="item.letra | quebralinha | formataNotas" [style.font-size]="fontSize + 'em'"></div>
        } @else{
        <div style="text-align: justify; font-size: 1.9rem; font-weight: 500; line-height: 2.8rem" class="no-select mb-1" [innerHTML]="item.letra | quebralinha | limpaNotas" [style.font-size]="fontSize + 'em'"></div>
        } @if(item.notas.length > 0) {
        <div class="d-flex justify-content-between align-items-center mb-1">
          <span class="no-select fw-bold text-primary p-0 m-0" [style.font-size]="fontSize + 'em'" [innerHTML]="item.notas | formataIntro"></span>
        </div>
        }
      </div>
    </div>
    }
  </div>
</div>
