<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row mb-2 g-2">
    <div class="col-12 col-md-7">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control fw-medium" id="nome" formControlName="nome" placeholder="Nome" />
      </div>
    </div>
    <div class="col-12 col-md-5">
      <div class="form-group">
        <label for="cantor">Cantor</label>
        <input type="text" class="form-control fw-medium" id="cantor" formControlName="cantor" placeholder="Cantor" />
      </div>
    </div>
    <div class="col-8">
      <div class="form-group">
        <label for="inicio">Início</label>
        <input class="form-control fw-medium" id="inicio" formControlName="inicio" maxlength="70" placeholder="Trecho inicial" />
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="grupo">Grupo</label>
        <select class="form-control fw-medium" id="grupo" formControlName="grupo" placeholder="Escolha o grupo">
          <option value="">Selecione</option>
          <option value="Irmãs">Irmãs</option>
          <option value="Jovens">Jovens</option>
          <option value="Varões">Varões</option>
          <option value="Outros">Outros</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-md-9">
      <div class="form-group">
        <label for="url">Url</label>
        <input type="url" class="form-control fw-medium" id="url" formControlName="url" />
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="form-group">
        <label for="tom">Tonalidade</label>
        <input type="text" class="form-control fw-medium" id="tom" formControlName="tom" maxlength="3" />
      </div>
    </div>
  </div>
  <button accesskey="s" type="submit" [disabled]="form.invalid" class="btn btn-outline-primary me-2">
    <i class="fa-solid fa-floppy-disk me-2"></i>
    Salvar
  </button>
  <a accesskey="v" [routerLink]="['/']" class="btn btn-outline-success">
    <i class="fa-solid fa-home me-2"></i>
    Voltar
  </a>
</form>
