<form [formGroup]="form" (ngSubmit)="onSubmit()" class="mb-2">
  <div class="row mb-2">
    <h4 class="m-0 text-primary">Formulário de Edição</h4>
  </div>
  <div class="row mb-2 g-2">
    <div class="col-12 col-md-7">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control fw-medium" id="nome" formControlName="nome" />
      </div>
    </div>
    <div class="col-12 col-md-5">
      <div class="form-group">
        <label for="cantor">Cantor</label>
        <input type="text" class="form-control fw-medium" id="cantor" formControlName="cantor" />
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="inicio">Início</label>
        <textarea class="form-control fw-medium" id="inicio" formControlName="inicio" maxlength="150" rows="2"></textarea>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="url">Url</label>
        <input type="url" class="form-control fw-medium" id="url" formControlName="url" />
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="form-group">
        <label for="tom">Tonalidade</label>
        <input type="text" class="form-control fw-medium" id="tom" formControlName="tom" maxlength="3" />
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="form-group">
        <label for="formula">Fórmula</label>
        <input type="text" class="form-control fw-medium" id="formula" formControlName="formula" maxlength="4" />
      </div>
    </div>
  </div>
  <button type="submit" [disabled]="form.invalid" class="btn btn-outline-primary me-2">
    <i class="fa-solid fa-floppy-disk me-2"></i>
    Salvar
  </button>
  <a [routerLink]="['/']" class="btn btn-outline-success">
    <i class="fa-solid fa-home me-2"></i>
    Voltar
  </a>
</form>

<div class="row mb-2">
  <section class="d-flex justify-content-between align-items-center">
    <h4 class="m-0 text-primary">Letra da canção</h4>
    <div>
      <span class="btn btn-sm btn-outline-success" [routerLink]="['/louvores', id, 'letras', 'add']">
        <i class="fa-solid fa-plus"></i>
      </span>
    </div>
  </section>
</div>

<section If="letras.length > 0">
  <ul class="list-group mb-2">
    @for (letra of letras; track $index) {
    <li class="list-group-item mb-3 shadow-sm p-2">
      <div class="">
        <section class="d-flex justify-content-between align-items-center bg-white">
          <span class="fw-bold text-danger" style="font-size: 1.23rem">{{ letra.ordem }}</span>
          <span class="fw-bold text-danger" style="font-size: 1.23rem">{{ letra.is_intro | isIntro }}</span>
          <div>
            <span class="btn btn-sm btn-outline-primary me-3" [routerLink]="['/louvores', letra.louvor_id, 'letras', 'edit', letra.id]">
              <i class="fa-solid fa-edit"></i>
            </span>
            <span class="btn btn-sm btn-outline-danger" (click)="deleteLetra(letra.id)">
              <i class="fa-solid fa-trash"></i>
            </span>
          </div>
        </section>
        <section class="bg-white">
          <div class="mb-1 fw-medium" style="font-size: 1.2rem">
            {{ letra.letra }}
          </div>
          <div class="fw-bold text-primary fs-5" [innerHTML]="letra.notas | formataNotas"></div>
        </section>
      </div>
    </li>
    }
  </ul>
</section>
