<form [formGroup]="form" (ngSubmit)="onSubmit()" class="mb-2">
  <div class="row mb-2">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="m-0 text-primary">Formulário de Edição</h4>
        <span class="btn btn-sm btn-outline-primary" [routerLink]="['/louvores/cantar', id]">
          <i class="fa-solid fa-tv"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="row mb-2 g-2">
    <div class="col-12 col-md-7">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control fw-medium" id="nome" formControlName="nome" />
      </div>
    </div>
    <div class="col-12 col-md-5">
      <div class="form-group">
        <label for="cantor">Cantor</label>
        <input type="text" class="form-control fw-medium" id="cantor" formControlName="cantor" />
      </div>
    </div>
    <div class="col-8">
      <div class="form-group">
        <label for="inicio">Início</label>
        <input class="form-control fw-medium" id="inicio" formControlName="inicio" maxlength="70" placeholder="Trecho inicial" />
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="grupo">Grupo</label>
        <select class="form-control fw-medium" id="grupo" formControlName="grupo" placeholder="Escolha o grupo">
          <option value="">Selecione</option>
          <option value="Irmãs">Irmãs</option>
          <option value="Jovens">Jovens</option>
          <option value="Varões">Varões</option>
          <option value="Outros">Outros</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-md-9">
      <div class="form-group">
        <label for="url">Url</label>
        <input type="url" class="form-control fw-medium" id="url" formControlName="url" />
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="form-group">
        <label for="tom">Tonalidade</label>
        <input type="text" class="form-control fw-medium" id="tom" formControlName="tom" maxlength="3" />
      </div>
    </div>
  </div>
  <button accesskey="s" type="submit" [disabled]="form.invalid" class="btn btn-outline-primary me-2">
    <i class="fa-solid fa-floppy-disk me-2"></i>
    Salvar
  </button>
  <span accesskey="r" class="btn btn-outline-primary me-2" (click)="reordenar()">
    <i class="fa-solid fa-arrows-rotate me-2"></i>
    Reordenar
  </span>
  <a accesskey="v" [routerLink]="['/']" class="btn btn-outline-success">
    <i class="fa-solid fa-home me-2"></i>
    Voltar
  </a>
</form>

<div class="row mb-2">
  <section class="d-flex justify-content-between align-items-center">
    <h4 class="m-0 text-primary">Letra da canção</h4>
    <div>
      <span accesskey="a" class="btn btn-sm btn-outline-success me-2" [routerLink]="['/louvores', id, 'letras', 'add']">
        <i class="fa-solid fa-plus"></i>
      </span>
      <span accesskey="a" class="btn btn-sm btn-outline-danger" [routerLink]="['/louvores', id, 'letras', 'add-all']">
        <i class="fa-solid fa-book-open"></i>
      </span>
    </div>
  </section>
</div>

<section If="letras.length > 0">
  <ul class="list-group mb-2">
    @for (letra of letras; track $index) {
    <li class="list-group-item mb-3 shadow-sm p-2">
      <div class="">
        <section class="d-flex justify-content-between align-items-center bg-white">
          <span class="fw-bold text-black" style="font-size: 1.23rem">{{ letra.ordem }}</span>
          <span class="fw-bold text-black cursor" style="font-size: 1.23rem" (click)="toggleMostrarNotas()">{{ letra.is_intro | isIntro }}</span>
          <div>
            <span class="btn btn-sm btn-light me-3" [routerLink]="['/louvores', letra.louvor_id, 'letras', 'edit', letra.id]">
              <i class="fa-solid fa-edit"></i>
              Editar
            </span>
            <span class="btn btn-sm btn-light me-3" (click)="deleteLetra(letra.id!)">
              <i class="fa-solid fa-trash"></i>
              Remover
            </span>
            <span class="btn btn-sm btn-light" (click)="duplicar(letra.id!)">
              <!--Duplicar registro-->
              <i class="fa-solid fa-copy"></i>
              Duplicar
            </span>
          </div>
        </section>
        <section class="bg-white mt-4">
          @if(mostrarNotas == true){
          <div class="mb-1 fw-medium" style="font-size: 1.2rem" [innerHTML]="letra.letra | quebralinha | formataNotas"></div>
          } @else {
          <div class="mb-1 fw-medium" style="font-size: 1.2rem" [innerHTML]="letra.letra | quebralinha"></div>
          }
          <div class="fw-bold text-primary fs-5" [innerHTML]="letra.notas | formataNotas"></div>
        </section>
      </div>
    </li>
    }
  </ul>
</section>
