<div class="container bg-light p-3">
  <div class="row mb-2">
    <div class="col-12 text-center">
      <h3 class="mb-0">Assembléia de Deus</h3>
      <span class="text-muted">Ministério de Louvor ADPMH</span>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <section class="text-end mb-2">
        <button type="button" class="btn btn-outline-primary btn-sm">
          <i class="fa-solid fa-plus"></i>
          Adicionar
        </button>
      </section>
      <app-louvores-lista></app-louvores-lista>
    </div>
  </div>
</div>
