/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
}

.cursor {
  cursor: pointer;
}

.no-select {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
}

.nota {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: var(--bs-orange); /* Azul DodgerBlue */
  cursor: default;
  user-select: none;
}
.nota .nota-label {
  position: absolute;
  top: -1rem; /* Ajuste a distância conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  color: var(--bs-teal); /* Altere a cor da nota se necessário */
}

a {
  text-decoration: none;
}

.palavra-nota {
  white-space: nowrap;
}
