<div class="row mb-2" (click)="incrementa()">
  <div class="col-12 mb-2">
    @if(isEditing){
    <section class="text-end">
      <a class="btn btn-outline-primary btn-sm" [routerLink]="['/louvores/add']">
        <i class="fa-solid fa-plus"></i>
        Adicionar
      </a>
    </section>
    }
  </div>

  <div class="col-12">
    <input type="text" class="form-control form-control-sm" placeholder="Pesquisar..." [(ngModel)]="filtro_search" (ngModelChange)="filtrar()" />
  </div>

  <div class="col-12">
    <ul class="list-group">
      @for (item of listaLouvoresFiltrada; track $index) {
      <li class="list-group-item mb-2 shadow-sm p-2">
        <section class="d-flex justify-content-between align-items-center rounded-1">
          <span class="fw-bold">{{ item.nome }}</span>
          <div>
            @if(isEditing){
            <a class="btn btn-sm btn-outline-primary me-2" [href]="'/louvores/edit/' + item.id" target="_blank">
              <i class="fa-solid fa-edit"></i>
            </a>
            <span class="btn btn-sm btn-outline-primary me-2" (click)="removerLouvor(item.id)">
              <i class="fa-solid fa-trash"></i>
            </span>
            } @if(item.url){
            <a class="btn btn-sm btn-outline-danger me-2" href="{{ item.url }}" target="_blank">
              <i class="fa-brands fa-youtube"></i>
            </a>
            }
            <a class="btn btn-sm btn-outline-primary" [href]="'/louvores/cantar/' + item.id">
              <i class="fa-solid fa-tv"></i>
            </a>
          </div>
        </section>
        <section class="d-flex justify-content-between align-items-center">
          <span class="fw-bold">{{ item.cantor }}</span>
          <span class="fw-bold">
            <span class="text-muted">{{ item.tom }} {{ item.formula }}</span>
          </span>
        </section>
        <section class="d-flex justify-content-between align-items-center">
          <span class="text-muted">{{ item.inicio }}</span>
        </section>
      </li>
      }
    </ul>
  </div>
</div>
