<div (click)="incrementa()">
  <div class="row mb-2">
    <div class="col-12 mb-2">
      @if(isEditing){
      <section class="text-end">
        <a accesskey="a" class="btn btn-outline-primary btn-sm" [routerLink]="['/louvores/add']">
          <i class="fa-solid fa-plus"></i>
          Adicionar
        </a>
      </section>
      }
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-12">
      <select name="filtroSelect" class="form-control fw-medium" [(ngModel)]="filtro_search" (change)="filtrar()">
        <option value="">Selecione</option>
        <option value="Circulo de Oracao">Círculo de Oração</option>
        <option value="Jovens">Jovens</option>
        <option value="Varões">Varões</option>
        <option value="Outros">Outros</option>
      </select>
    </div>
  </div>
  <div class="row g-1 mb-2" *ngIf="modoFiltro === 'texto'">
    <div class="col-9">
      <input type="text" class="form-control form-control" name="filtroInput" placeholder="Pesquisar..." [(ngModel)]="filtro_search" />
    </div>
    <div class="col-3">
      <button class="form-control btn btn-primary" (click)="filtrar()">Buscar</button>
    </div>
  </div>
  @if(qtdLouvores > 0){
  <div class="row mb-2">
    <div style="font-size: 1.1rem">
      <span class="d-inline me-2">Foram encontrados</span>
      <span class="d-inline fw-bold text-danger me-2">{{ qtdLouvores }}</span>
      <span class="d-inline">louvores</span>
    </div>
  </div>
  }

  <div class="col-12">
    <ul class="list-group">
      @for (item of listaLouvoresFiltrada; track $index) {
      <li class="list-group-item mb-2 shadow-sm p-2">
        <section class="d-flex justify-content-between align-items-center rounded-1">
          <div style="line-height: 1.4rem" class="m-0">
            <span class="text-primary d-block mb-0" style="font-size: 1.2rem; font-weight: 700">{{ item.nome }}</span>
            <span class="mt-0 mb-0" style="font-weight: 600; font-size: 1rem">{{ item.cantor }}</span>
          </div>
          <div class="m-0">
            @if(isEditing){
            <span class="btn btn-sm btn-outline-primary me-2" [routerLink]="['/louvores/edit', item.id]">
              <i class="fa-solid fa-edit"></i>
            </span>
            <span class="btn btn-sm btn-outline-primary me-2" (click)="removerLouvor(item.id)">
              <i class="fa-solid fa-trash"></i>
            </span>
            } @if(item.url){
            <a class="btn btn-sm btn-outline-danger me-2" href="{{ item.url }}" target="_blank">
              <i class="fa-brands fa-youtube"></i>
            </a>
            }
            <span class="btn btn-sm btn-outline-primary" [routerLink]="['/louvores/cantar', item.id]">
              <i class="fa-solid fa-tv"></i>
            </span>
          </div>
        </section>
        <!-- <section style="text-align: justify">
          <span class="text-muted" style="font-weight: 500">{{ item.inicio }}</span>
        </section> -->
      </li>
      }
    </ul>
  </div>
</div>
